@import './base';

.user{
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-items: center;
    align-items: center;
    padding: 8rem 12rem;
    gap: 1rem;

    &__img{
        display: grid;
        justify-content: center;
        align-content: center;
        background-image: linear-gradient(to bottom right, $color-primary-dark, #b5b2f1);
        border-radius: 50%;
        overflow: hidden;
        height: 160px;
        width: 160px;
        outline: 2px dotted $color-primary-dark;
        outline-offset: .5rem;

        &-pic{
            width: 165px;

        }
    }

    &__detail{
        display: grid;
        color: $color-primary-dark;
        padding: 2rem 3.5rem;
        background-color: #b5b2f1;
        font-size: 2rem;
        border-radius: 2rem;
    }
}